{%extends 'main.html'%} {% block FirstBlock %} 

    <div class="container my-5">
        <div class="row">
            <div class="col-md-7">
                <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}" 
                height="300" width="230">
            </div>
            <div class="col-md-5">
                <h2 class = "font-weight-bold">{{product.name}}</h2>
                <p class="text-muted">{{product.description}}</p>
                <p><strong>Price:</strong> {{product.price}}</p>
                <p><strong>Ratings</strong> {{avrg_rate}}</p>


                <a href={% url 'rate_product' pk=product.id %}>Rate Product</a>
            </div>
        </div>

    </div>
    
    {% for review in reviews %}
    <div class="card">
        <div class="card-body">
            <h5>{{review.user}} - {{review.created_on}} - {{review.rating}} Stars</h5>
            <p>{{review.comment}}</p>
            {% if comment.user == request.user %}
                <a href="{% url 'edit_comment' pk=comment.id %}" class="btn btn-secondary btn-sm">Edit</a>
                <a href="{% url 'delete_comment' pk=comment.id %}" class="btn btn-danger btn-sm">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock%}